.select__movieTitleDefault {
    margin-top: 8px;
    padding: 5px 0;
    background-color: white;
}

.select__movieTitleDefault:hover {
    background-color: #f3f3f3;
}

.select__movieTitleClicked {
    margin-top: 8px;
    padding: 5px 0;
    background-color: #8dd7f2;
    color: white;
}

.select__movieTitle {
    margin-top: 8px;
    padding: 5px 0;
}